<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Buku Tamu</title>
	
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container my-2">
		<h1>Daftar Tamu</h1>
		<a th:href="@{/showNewGuestForm}" class="btn btn-primary btn-sm mb-3">Tambah Tamu</a>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nama</th>
					<th>No KTP</th>
					<th>Jenis Kelamin</th>
					<th>Alamat</th>
					<th>Tanggal</th>
					<th>Foto</th>
					<th>Keperluan</th>
					<th>Kesiapa</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			 	<tr th:each="guest : ${listGuests}">
			 		<td th:text="${guest.nama}"></td>
			 		<td th:text="${guest.no_ktp}"></td>
			 		<td th:text="${guest.jenis_kelamin}"></td>
			 		<td th:text="${guest.alamat}"></td>
			 		<td th:text="${guest.tanggal}"></td>
			 		<td>
			 			<img th:src="@{${guest.FotoImagePath}}" style="width: 100px"/>
			 		</td>
			 		<td th:text="${guest.keperluan}"></td>
			 		<td th:text="${guest.kesiapa}"></td>
			 		<td>
			 			<a th:href="@{/showFormForUpdate/{id}(id=${guest.id})}" class="btn btn-primary">Update</a>
			 			<a th:href="@{/deleteGuest/{id}(id=${guest.id})}" class="btn btn-danger">Delete</a>
			 		</td>
			 	</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>