<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Buku Tamu</title>
	
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container my-2">
		<h1>Update Tamu</h1>
		<form action="#" th:action="@{/saveGuest}" th:object="${guest}" method="POST" enctype="multipart/form-data">
			<input class="form-control mb-4 col-4" type="hidden" th:field="*{id}">
			<input class="form-control mb-4 col-4" type="text" th:field="*{nama}">
			<input class="form-control mb-4 col-4" type="text" th:field="*{no_ktp}">
			<img th:src="@{${guest.FotoImagePath}}" style="width: 100px"/>
			<input class="form-control mb-4 col-4" type="file" name="image" accept="image/png, image/jpeg">
			<textarea class="form-control mb-4 col-4" th:field="*{keperluan}"></textarea>
			<input class="form-control mb-4 col-4" type="text" th:field="*{kesiapa}">
			<textarea class="form-control mb-4 col-4" th:field="*{alamat}" placeholder="Alamat"></textarea>
			<select class="form-control mb-4 col-4" th:field="*{jenis_kelamin}">
			    <option th:value="'Laki-laki'" th:text="Laki-laki"></option>
			    <option th:value="'Perempuan'" th:text="Perempuan"></option>
			</select>
			<input class="form-control mb-4 col-4" type="date" th:field="*{tanggal}" placeholder="Tanggal">
			
			<button type="submit" class="btn btn-info col-2">Update Tamu</button>
		</form>
		
		<hr>
		
		<a th:href="@{/}">Kembali ke Daftar Tamu</a>
	</div>
	
</body>
</html>